### Welcome to exercise set three-bis

**Answer/study the following questions using VS Code+Python and consulting the presentations seen in class.**

**Question 1:** Study the following two dimensional array. We call a 2D array a list of lists, in our case we have an array of 4 rows and 3 columns.

Study and run the following code.

In [ ]:

# Think a 2D list as a space with coordinates, where the index for rows
# and columns starts from 0.

# The following is a 2D list that you might come across in your career.

alist = [[10, 20, 30], [40, 50, 60], [70, 80 ,90], [100,110,120]]

# This might look confusing, so we can easily represent it like this:

#             0     1   2
alist = [
            [10,   20, 30 ],    # 0
            [40,   50, 60 ],    # 1
            [70,   80, 90 ],    # 2
            [100, 110, 120]    # 3
        ]

print(alist)

**Question 2.1:** Let us print the first *row* of the array, using the following code. This extracts the first element of the 2D array.
Run the following code.

In [ ]:
alist[0]

**Question 2.2:** Print the third row of the 2D array.

In [ ]:
# Provide your solution here

**Question 3:** Let us extract the element at position [0,0] that is the number 10. 

Similarly, if we want to extract number 110, then we will need to access the element in position [3,1].

Note that the numbers of the indexes are starting from **zero**.

Study and run the following code.

In [ ]:
# The code to extract the element at position [0,0] is the following
print('Position [0, 0]:', alist[0][0])

# The code to extract the element 110 is the following
print('Position [3, 1]:', alist[3][1])

**Question 4:** Examine the following code: withour running it, can you tell what will it print?

In [ ]:

for data_in_row in alist:
    print(data_in_row)

**Question 5:** We can use a double **for** loop to iterate in a multidimensional array. 

Study and run the following code. Add your comments in each line.

In [ ]:
for data_in_row in alist:         # For each row in the array
    for element in data_in_row:   # For each element of the row
        print(element)            # Print the element

**Question 6:** We can add a new row in our 2D array using the following code.

In [ ]:
alist.append([130, 140, 150])

print(alist)

**Question 7:** We can remove a new row of 2D array using the **pop** method. We can use **alist.pop(index_number)**. Let us remove the first element using the following code. Run the next script.

In [ ]:
alist.pop(0)

print(alist)

**Question 8.1:** Consider the following list 

`nlist = [ ['a', 'b', 'c'], ['e', 'f', 'g'] ]`

Create a script to count the number of rows of the `nlist`.

In [ ]:
# Provide your solution here

**Question 8.2:** Consider the following list **mylist = [ [10, 5, 9], [29, 10, 10] ]**. 

Create a script to count how many **10s** are in the 2D list.

In [ ]:
# Provide your solution here
mylist = [ [10, 5, 9], [29, 10, 10] ]

**Question 8.3:** Can you create a function for **question 8.2**? 

The function should accept a list and a value to look as arguments and it should return the number of times the value appears.

For example:


*   User to provide a list: `mylist = [ [10, 5, 9], [29, 10, 10] ]`
*   User to provide value to look: 10
*   Function will return: 3


<img src='./imgs/mounts.png' width='50' height='50'> 

 
> This is a challenging task, so take your time.

In [ ]:
# Provide your solution here

**Question 9:** Create a script to count how many rows and columns are in a given multi-dimentional list, e.g. the `nlist`.

<img src='./imgs/mounts.png' width='50' height='50'> 

> This is a challenging task, so take your time.

In [ ]:
# Provide your solution here

<img src='./imgs/bulb.png' width='50' height='50'> 

>  Note that how is a symmetric list: every row has 3 elements. We might also have asymmetric lists, which make coding more complicated.



---

**Question 10:** Let us start working with dictionaries. 

Your first task is to create a dictionary called *mybook* for the following data.

* Name: 5 Traditional Songs
* Age: 1978
* Country: England
* City: London

Print the *mybook* dictionary to see the resulted dictionary.

In [ ]:
# Provide your solution here

**Question 11:** A dictionary is a **key:value** pair data structure. Use the *mybook* dictionary to extract the values for the *City* and *Country*.

You might need to review the lecture slides. Print the results.

Another resource for the rest of the exercises is the following: https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
# Provide your solution here

**Question 12:** Add the following data to the *mybook* dataset.

Add new data as follows:
* Physical description: score 27 pages

Print the dictionary to see the results.
Your dictionary should like this:

{'Name': '5 Traditional Songs', 'Age': 1978, 'Country': 'England', 'City': 'London', 'Physical description': 'score 27 pages'}

**Question 13:** Update the *mybook* dataset using the following data.

* Physical description: Score 30 pages

Print the data to see the results.

In [ ]:
# Provide your solution here

**Question 14:** Delete the *age* key and its value using the appropriate method. 

Review the following link: https://www.w3schools.com/python/ref_dictionary_pop.asp

Print the dictionary to see the results.

In [ ]:
# Provide your solution here

**Question 15.a:** Let us use a more complex dictionary, where each key has multiple values.

Run and study the following code.

In [ ]:
newbooks = { 'Name': ['5 Traditional Songs', 'A Scottish salute'],
           'Age': [1978, 1986],
           'Country': ['England', 'United States'],
           'City': ['London', 'New York']     
          }

print(newbooks)

**Question 15.b:** Search if there is any book for a particular year of age in the *newbook* dictionary. Create a function to print *True* or *False* for each case. 

For example if we search for a book from 1978, the program will return *True*, if we search for a book from *1982*, the program will return False.

<img src='./imgs/mounts.png' width='50' height='50'> 
> This is a challenging task, so take your time.

In [ ]:
# Provide your solution here

**Question 16:** A common practice of using dictionary is to count how many elements exist in a list.

For example, we want to transform the following list:
* names = ['Mary','Tom', 'Mary', 'Tom', 'Mary']

in the following dictionary:

* {'Mary': 3, 'Tom': 2}


Run and study the following code.

<img src='https://drive.google.com/uc?id=1TILfsLPhdXLqyGIjILDLcNtvk-wACxyX' width='50' height='50'> 

> This is a challenging task, so take your time.

**Question 17:** Write a program to implement a linear search function for an element in a list of positive numbers. If the element exists, print the element, in any other case print -1.

- Use list `alist = [10, 13, 17, 22, 28]`
-   look for key 22
-   then look for key 23

Print the results.

In [ ]:
# Provide your solution here

**Question 18:** The following code demonstrates how to run the binary search algorithm. 

Study and run it by adding appropriate calls.

In [ ]:
def bs(a, k):
    '''Simple Binary search implementation: a is a list of integers, k is a search key integer'''

    found = False

    n = len(a)

    # the boundaries of our search
    l = 0
    r = n

    while ((found == False) and (l < r)):

        mid = l + int((r-l)/2)
        
        '''print('New iteration!')
        print(f'l={l}, mid={mid}, r={r} and the segment now is {a[l:r]}')
        _ = input('Press enter to continue!')'''

        if k < a[mid]:
            r = mid 

        elif k > a[mid]:
            l = mid + 1

        else:
            found = True
            print('found in position ', mid)

    return found